<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Pinjaman Online</title>
    <!-- ekternal Css -->
    <link rel="stylesheet" href="pinjam.css">
</head>
<body>
    <div class="container">
        <h1>Aplikasi Peminjaman Online</h1>
        <p>By createdid: Bachrul Pandji</p>
        <form action="" id="LoanForm">
            <label for="amount">Jumlah Pinjaman</label>
            <input type="number" id="amount" placeholder="Masukkan Jumlah Pinjaman" required>\

            <label for="amount">Suku Bunga</label>
            <input type="number" id="interestRate" placeholder="Masukkan Suku Bunga" required>

            <label for="amount">Durasi (Detik)</label>
            <input type="number" id="Duration" placeholder="Masukkan Durasi Peminjaman" required>
        </form>
    </div>

</body>
</html>